<span class="notification">Section en cours de développement</span>

<h2>Tableau de bord</h2>

<section class="dashboard">

  <canvas baseChart
  id="barChart"
  [data]="barChartData"
  [options]="barChartOptions"
  [type]="'bar'">
  </canvas>

  <canvas baseChart 
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas>

  <canvas baseChart
  [datasets]="demoradarChartData"
  [labels]="demoradarChartLabels"
  [type]="radarChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)">
  </canvas>

</section>

<h2>Liste des équipes</h2>

<section class="list_teams">

  <mat-card *ngFor="let team of teams; let id = index" (click)="seeDetails(team)">
    <mat-card-content>{{team.name}}</mat-card-content>
  </mat-card>

</section>